.git
.ddev
.vscode
.env
.env.backup
.env.production
.env.prod
database/database.sqlite
node_modules
public/build/*
public/hot
public/storage/*
bootstrap/cache/*
storage/debugbar/*
storage/pail/*
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
vendor
