openapi: 3.0.3
info:
  title: 'Laravel API Documentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://workout-tracker.ddev.site'
tags:
  -
    name: Endpoints
    description: ''
paths:
  /api/auth/login:
    post:
      summary: ''
      operationId: postApiAuthLogin
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  token: abc
                properties:
                  token:
                    type: string
                    example: abc
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'User not found'
                properties:
                  message:
                    type: string
                    example: 'User not found'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Invalid credentials'
                properties:
                  message:
                    type: string
                    example: 'Invalid credentials'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address. The <code>email</code> of an existing record in the users table. Must not be greater than 255 characters.'
                  example: gbailey@example.net
                  nullable: false
                password:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                remember:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
              required:
                - email
                - password
      security: []
  /api/auth/register:
    post:
      summary: ''
      operationId: postApiAuthRegister
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 865
                    name: 'Ramiro Okuneva'
                    email: gulgowski.asia@example.com
                    email_verified_at: '2025-06-20T18:55:34.000000Z'
                    created_at: '2025-06-20T18:55:34.000000Z'
                    updated_at: '2025-06-20T18:55:34.000000Z'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 865
                      name:
                        type: string
                        example: 'Ramiro Okuneva'
                      email:
                        type: string
                        example: gulgowski.asia@example.com
                      email_verified_at:
                        type: string
                        example: '2025-06-20T18:55:34.000000Z'
                      created_at:
                        type: string
                        example: '2025-06-20T18:55:34.000000Z'
                      updated_at:
                        type: string
                        example: '2025-06-20T18:55:34.000000Z'
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address. Must not be greater than 255 characters.'
                  example: gbailey@example.net
                  nullable: false
                password:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                remember:
                  type: boolean
                  description: ''
                  example: true
                  nullable: false
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: 'n'
                  nullable: false
              required:
                - email
                - password
                - name
      security: []
  /api/auth/me:
    get:
      summary: ''
      operationId: getApiAuthMe
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 866
                    name: 'Jermaine Tillman'
                    email: mya96@example.com
                    email_verified_at: '2025-06-20T18:55:34.000000Z'
                    created_at: '2025-06-20T18:55:34.000000Z'
                    updated_at: '2025-06-20T18:55:34.000000Z'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 866
                      name:
                        type: string
                        example: 'Jermaine Tillman'
                      email:
                        type: string
                        example: mya96@example.com
                      email_verified_at:
                        type: string
                        example: '2025-06-20T18:55:34.000000Z'
                      created_at:
                        type: string
                        example: '2025-06-20T18:55:34.000000Z'
                      updated_at:
                        type: string
                        example: '2025-06-20T18:55:34.000000Z'
      tags:
        - Endpoints
  /api/auth/logout:
    delete:
      summary: ''
      operationId: deleteApiAuthLogout
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
  /api/exercises:
    get:
      summary: ''
      operationId: getApiExercises
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'Must be at least 1. Must not be greater than 50.'
          example: 1
          required: true
          schema:
            type: number
            description: 'Must be at least 1. Must not be greater than 50.'
            example: 1
            nullable: false
        -
          in: query
          name: page
          description: 'Must be at least 1.'
          example: 22
          required: false
          schema:
            type: number
            description: 'Must be at least 1.'
            example: 22
            nullable: false
        -
          in: query
          name: sort_by
          description: ''
          example: name
          required: false
          schema:
            type: string
            description: ''
            example: name
            nullable: false
            enum:
              - created_at
              - name
        -
          in: query
          name: sort_dir
          description: ''
          example: asc
          required: false
          schema:
            type: string
            description: ''
            example: asc
            nullable: false
            enum:
              - asc
              - desc
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 542
                      created_at: '2025-06-20T18:55:34.000000Z'
                      updated_at: '2025-06-20T18:55:34.000000Z'
                      name: et
                      category: animi
                      description: 'Et fugiat sunt nihil accusantium. Mollitia modi deserunt aut ab provident perspiciatis quo. Nostrum aut adipisci quidem nostrum.'
                      user_id: 867
                    -
                      id: 543
                      created_at: '2025-06-20T18:55:34.000000Z'
                      updated_at: '2025-06-20T18:55:34.000000Z'
                      name: ipsum
                      category: nostrum
                      description: 'Et consequatur aut dolores enim. Facere tempora ex voluptatem laboriosam. Quis adipisci molestias fugit deleniti distinctio eum. Id aut libero aliquam veniam. Dolorem mollitia deleniti nemo.'
                      user_id: 868
                  links:
                    first: '/?page=1'
                    last: null
                    prev: null
                    next: null
                  meta:
                    current_page: 1
                    from: 1
                    path: /
                    per_page: 10
                    to: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 542
                        created_at: '2025-06-20T18:55:34.000000Z'
                        updated_at: '2025-06-20T18:55:34.000000Z'
                        name: et
                        category: animi
                        description: 'Et fugiat sunt nihil accusantium. Mollitia modi deserunt aut ab provident perspiciatis quo. Nostrum aut adipisci quidem nostrum.'
                        user_id: 867
                      -
                        id: 543
                        created_at: '2025-06-20T18:55:34.000000Z'
                        updated_at: '2025-06-20T18:55:34.000000Z'
                        name: ipsum
                        category: nostrum
                        description: 'Et consequatur aut dolores enim. Facere tempora ex voluptatem laboriosam. Quis adipisci molestias fugit deleniti distinctio eum. Id aut libero aliquam veniam. Dolorem mollitia deleniti nemo.'
                        user_id: 868
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 542
                        created_at:
                          type: string
                          example: '2025-06-20T18:55:34.000000Z'
                        updated_at:
                          type: string
                          example: '2025-06-20T18:55:34.000000Z'
                        name:
                          type: string
                          example: et
                        category:
                          type: string
                          example: animi
                        description:
                          type: string
                          example: 'Et fugiat sunt nihil accusantium. Mollitia modi deserunt aut ab provident perspiciatis quo. Nostrum aut adipisci quidem nostrum.'
                        user_id:
                          type: integer
                          example: 867
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                        example: '/?page=1'
                      last:
                        type: string
                        example: null
                      prev:
                        type: string
                        example: null
                      next:
                        type: string
                        example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      path:
                        type: string
                        example: /
                      per_page:
                        type: integer
                        example: 10
                      to:
                        type: integer
                        example: 2
      tags:
        - Endpoints
    post:
      summary: ''
      operationId: postApiExercises
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 544
                    created_at: '2025-06-20T18:55:34.000000Z'
                    updated_at: '2025-06-20T18:55:34.000000Z'
                    name: fugiat
                    category: sunt
                    description: 'Harum mollitia modi deserunt aut ab provident perspiciatis quo. Nostrum aut adipisci quidem nostrum. Commodi incidunt iure odit. Et modi ipsum nostrum omnis autem et consequatur.'
                    user_id: 869
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 544
                      created_at:
                        type: string
                        example: '2025-06-20T18:55:34.000000Z'
                      updated_at:
                        type: string
                        example: '2025-06-20T18:55:34.000000Z'
                      name:
                        type: string
                        example: fugiat
                      category:
                        type: string
                        example: sunt
                      description:
                        type: string
                        example: 'Harum mollitia modi deserunt aut ab provident perspiciatis quo. Nostrum aut adipisci quidem nostrum. Commodi incidunt iure odit. Et modi ipsum nostrum omnis autem et consequatur.'
                      user_id:
                        type: integer
                        example: 869
      tags:
        - Endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                category:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                description:
                  type: string
                  description: ''
                  example: 'Eius et animi quos velit et.'
                  nullable: true
              required:
                - name
                - category
  '/api/exercises/{id}':
    get:
      summary: ''
      operationId: getApiExercisesId
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 545
                    created_at: '2025-06-20T18:55:34.000000Z'
                    updated_at: '2025-06-20T18:55:34.000000Z'
                    name: laboriosam
                    category: praesentium
                    description: 'Molestias fugit deleniti distinctio eum doloremque id. Libero aliquam veniam corporis dolorem mollitia deleniti. Odit quia officia est dignissimos neque blanditiis odio. Excepturi doloribus delectus fugit qui repudiandae laboriosam.'
                    user_id: 870
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 545
                      created_at:
                        type: string
                        example: '2025-06-20T18:55:34.000000Z'
                      updated_at:
                        type: string
                        example: '2025-06-20T18:55:34.000000Z'
                      name:
                        type: string
                        example: laboriosam
                      category:
                        type: string
                        example: praesentium
                      description:
                        type: string
                        example: 'Molestias fugit deleniti distinctio eum doloremque id. Libero aliquam veniam corporis dolorem mollitia deleniti. Odit quia officia est dignissimos neque blanditiis odio. Excepturi doloribus delectus fugit qui repudiandae laboriosam.'
                      user_id:
                        type: integer
                        example: 870
      tags:
        - Endpoints
    put:
      summary: ''
      operationId: putApiExercisesId
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 546
                    created_at: '2025-06-20T18:55:34.000000Z'
                    updated_at: '2025-06-20T18:55:34.000000Z'
                    name: fugiat
                    category: sunt
                    description: 'Harum mollitia modi deserunt aut ab provident perspiciatis quo. Nostrum aut adipisci quidem nostrum. Commodi incidunt iure odit. Et modi ipsum nostrum omnis autem et consequatur.'
                    user_id: 871
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 546
                      created_at:
                        type: string
                        example: '2025-06-20T18:55:34.000000Z'
                      updated_at:
                        type: string
                        example: '2025-06-20T18:55:34.000000Z'
                      name:
                        type: string
                        example: fugiat
                      category:
                        type: string
                        example: sunt
                      description:
                        type: string
                        example: 'Harum mollitia modi deserunt aut ab provident perspiciatis quo. Nostrum aut adipisci quidem nostrum. Commodi incidunt iure odit. Et modi ipsum nostrum omnis autem et consequatur.'
                      user_id:
                        type: integer
                        example: 871
      tags:
        - Endpoints
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                category:
                  type: string
                  description: ''
                  example: architecto
                  nullable: false
                description:
                  type: string
                  description: ''
                  example: 'Eius et animi quos velit et.'
                  nullable: false
    delete:
      summary: ''
      operationId: deleteApiExercisesId
      description: ''
      parameters: []
      responses: {  }
      tags:
        - Endpoints
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the exercise.'
        example: 2
        required: true
        schema:
          type: integer
